              <div class="modal fade" id="update-model-<%= i.to_s + day.to_s %>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= form_for(Reservation.find_by(data: "#{day} #{i}:00:00"), :controller => 'reservations', :action => 'update', :html => {:class => "form-update-'+this_id+'"}) do |form| %>
                      
                        <% if reservation.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

                            <ul>
                              <% reservation.errors.each do |error| %>
                                <li><%= error.full_message %></li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>

                        <div class="field">
                          <%= form.hidden_field :data, :value => Time.parse("#{day} #{i}:00:00").strftime("%Y-%m-%d %H:%M:%S"), :class => "data-'+this_id+'"  %>
                        </div>

                        <div class="form-group form-group-'+this_id+'">
                          <%= form.label :description %>
                          <%= form.text_field :description, :class => "form-control description-update-'+this_id+'" %>
                          <span class="span-update-'+this_id+'">** preencha o campo</span>
                        </div>

                        <div class="field">
                          <% if can? :create, User %>
                            <%= form.label :user_id %>
                            <%= form.select(:user_id, @users.collect { |user| [user.name, user.id] } , {:include_blank => 'Selecione'}, { :class => "user_id-'+this_id+'" }) %>
                          <% else %>
                            <%= form.hidden_field :user_id, value: current_user.id, :class => "user_id-'+this_id+'" %>
                          <% end %>
                        </div>

                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary submit-button-update" id="<%= i.to_s + day.to_s %>">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>
