<table class="table" id="table">
  <thead>
    <tr>
      <th scope="col">Horário</th>
      <th scope="col">Segunda</th>
      <th scope="col">Terça</th>
      <th scope="col">Quarta</th>
      <th scope="col">Quinta</th>
      <th scope="col">Sexta</th>
    </tr>
  </thead>
  <tbody>
    <% for i in 6..23 %>
      <tr>
        <th scope="row"><%= "#{i}:00" %></th> 
        <% today = Date.today %> 
        <% begin Date.parse(params[:date]) %>
          <% today = Date.parse(params[:date]) %> 
        <% rescue %>
          <% today = Date.today %> 
        <% end %>

        <% today = Date.parse(today.beginning_of_week.strftime('%d/%m/%Y')) %>
        <% (today..(today+6)).each{ |day| %>
          <% if day.wday != 6 && day.wday != 0 %>
            <td><%# day %> <%# Time.parse("#{day} #{i}:00:00").strftime("%Y-%m-%d %H:%M:%S")%>

              <% reservat = Reservation.find_by(data: "#{day} #{i}:00:00") %>
              <% if reservat  %>
                <%# debug reservat %>
                <% if current_user.id == reservat[:user_id] || current_user.admin? %>
                  <a type="button" class="text-dark" data-toggle="modal" data-target="#update-model-<%= i.to_s + day.to_s %>">
                    <%= "Reservado para  #{User.find_by(id: reservat[:user_id])[:name]}" %> 
                  </a>
                <% else %>
                  <%= "Reservado para  #{User.find_by(id: reservat[:user_id])[:name]}" %>
                <% end %>

                <% if current_user.id == reservat[:user_id] || current_user.admin? %>
                  <a type="button" class="text-dark" data-toggle="modal" data-target="#delete-model-<%= i.to_s + day.to_s %>">
                    <i class="fa fa-undo" aria-hidden="true"></i> 
                  </a>
                <% end %>

              <% else %>
                <!-- Button trigger modal -->
                <a type="button" class="text-primary" data-toggle="modal" data-target="#staticBackdrop-<%= i.to_s + day.to_s %>">
                  <%= "Disponivel" %>
                </a>
              <% end %>
            </td>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop-<%= i.to_s + day.to_s %>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Reserva <small><%= Time.parse("#{day} #{i}:00:00").strftime("%d/%m/%Y %H:%M") %></small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= form_with(model: reservation, :class => "form-#{i.to_s}#{day.to_s}") do |form| %>

                      <div class="field">
                        <%= form.hidden_field :data, :value => Time.parse("#{day} #{i}:00:00").strftime("%Y-%m-%d %H:%M:%S"), :class => "data-#{i.to_s}#{day.to_s}"  %>
                      </div>

                      <div class="form-group form-group-<%= i.to_s+day.to_s %>">
                        <%= form.label :description %>
                        <%= form.text_field :description, :class => "form-control description-#{i.to_s}#{day.to_s}" %>
                        <span class="span-<%= i.to_s+day.to_s %>">** preencha o campo</span>
                      </div>

                      <div class="field">
                        <% if can? :create, User %>
                          <%# form.label :user_id %>
                          <%= form.select(:user_id, @users.collect { |user| [user.name, user.id] } , {:include_blank => 'Selecione'}, { :class => "form-control user_id-#{i.to_s}#{day.to_s}" }) %>
                        <% else %>
                          <%= form.hidden_field :user_id, value: current_user.id, :class => "user_id-#{i.to_s}#{day.to_s}" %>
                        <% end %>
                      </div>

                      
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary submit-button" id="<%= i.to_s + day.to_s %>">Confirmar</button>
                  </div>
                </div>
              </div>
            </div>
            
            <% if reservat  %>
              <!-- Modal View / update -->
              <div class="modal fade" id="update-model-<%= i.to_s + day.to_s %>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Reserva <small><%= Time.parse("#{day} #{i}:00:00").strftime("%d/%m/%Y %H:%M") %></small></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= form_for(Reservation.find_by(data: "#{day} #{i}:00:00"), :controller => 'reservations', :action => 'update', :html => {:class => "form-update-#{i.to_s}#{day.to_s}"}) do |form| %>
                      
                        <div class="field">
                          <%= form.hidden_field :data, :value => Time.parse("#{day} #{i}:00:00").strftime("%Y-%m-%d %H:%M:%S"), :class => "data-#{i.to_s}#{day.to_s}"  %>
                        </div>

                        <div class="form-group form-group-<%= i.to_s+day.to_s %>">
                          <%= form.label :description %>
                          <%= form.text_field :description, :class => "form-control description-update-#{i.to_s}#{day.to_s}" %>
                          <span class="span-update-<%= i.to_s+day.to_s %>">** preencha o campo</span>
                        </div>

                        <div class="field">
                          <% if can? :create, User %>
                            <%# form.label :user_id %>
                            <%= form.select(:user_id, @users.collect { |user| [user.name, user.id] } , {:include_blank => 'Selecione'}, { :class => "form-control user_id-#{i.to_s}#{day.to_s}" }) %>
                          <% else %>
                            <%= form.hidden_field :user_id, value: current_user.id, :class => "user_id-#{i.to_s}#{day.to_s}" %>
                          <% end %>
                        </div>

                      <% end %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="button" class="btn btn-primary submit-button-update" id="<%= i.to_s + day.to_s %>">Confirmar</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal Delete -->
              <div class="modal fade deletar" id="delete-model-<%= i.to_s + day.to_s %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmaração de exclusão</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">
                        Tem certeza?
                      </div>
                      <!-- Delete button in the footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-outline-danger delete-reservation" data-dismiss="modal" id="<%= i.to_s + day.to_s %>" value="<%= reservat[:id] %>">Excluir</button>
                        <!-- link_to 'Excluir', reservat, method: :delete, class: "btn btn-outline-danger delete-reservation" -->
                      </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% } %>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="div-new"></div>
<div id="div-delete"></div>
<%# params[:date] %>
<% beginning_week = Date.parse(today.beginning_of_week.strftime('%d/%m/%Y')) %>
<% previous_week = Date.parse(today.beginning_of_week.strftime('%d/%m/%Y')) - 1 %>
<% next_week = Date.parse(today.end_of_week.strftime('%d/%m/%Y')) + 1 %>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1"><%= previous_week %></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#"><%= next_week %></a>
    </li>
  </ul>
</nav>

<script>
    $(document).ready(function () {
        var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
        
        $(document).on('click', '.submit-button', function(event) {
          
            var this_id = this.id; // ID DO CAMPO, DIV
            var this_data = $(".data-"+this_id).val(); // DATA 
            var form = $("#staticBackdrop-"+this.id).html();
   
            if (!$(".description-"+this.id).val() || !$(".user_id-"+this.id).val()) {
              $(".span-"+this.id).addClass('text-danger');
              $(".user_id-"+this.id).addClass('text-danger');
              return false;
            }else{
              $("#staticBackdrop-"+this.id).modal('toggle');
              $(".span-"+this.id).removeClass('text-danger');
              $(".user_id-"+this.id).removeClass('text-danger');
            }

            $.ajax({
                url: $(".form-"+this.id).attr("action") + "?&authenticity_token=" + AUTH_TOKEN, 
                data: $(".form-"+this.id).serialize(),
                //dataType: "script",
                type: "json",
                error: function(error) {
                	console.log(111, error);
                },
                success: function(data) {
                  console.log(data);
                  console.log(data.id);

                  var myDate = new Date(Date.parse(this_data));
                  var dateNow = ('0' + myDate.getDate()).slice(-2) + '/' +('0' + (myDate.getMonth()+1)).slice(-2)+ '/' + myDate.getFullYear() + ' '+myDate.getHours()+ ':'+('0' + (myDate.getMinutes())).slice(-2);
    
                  $('#div-new').append('<div class="modal fade" id="update-model-'+this_id+'" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="staticBackdropLabel">Reserva '+dateNow+'</h5><button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><form class="form-update-'+this_id+'" id="edit_reservation_'+data.id+'" action="/reservations/'+data.id+'" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="'+AUTH_TOKEN+'" /><div class="field"><input value="'+this_data+'" class="data-'+this_id+'" type="hidden" name="reservation[data]" id="reservation_data" /></div><div class="form-group form-group-'+this_id+'"><label for="reservation_description">Description</label><input class="form-control description-update-'+this_id+'" type="text" value="'+data.description+'" name="reservation[description]" id="reservation_description" /><span class="span-update-'+this_id+'">** preencha o campo</span></div><div class="field"><input value="'+data.user_id+'" class="user_id-'+this_id+'" type="hidden" name="reservation[id]" id="reservation_user_id" /></div></form></div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button><button type="button" class="btn btn-primary submit-button-update" id="'+this_id+'">Confirmar</button></div></div></div></div>');
                  
                  var select_option_value = $('.user_id-'+this_id+' option:selected').val();
                  var select_option = $('.user_id-'+this_id).html();
                  
                  if(select_option){
                    $('.user_id-'+this_id).eq(1).parent().append('<select class="form-control user_id-'+this_id+'" name="reservation[user_id]" id="reservation_user_id">' + select_option  + '</select>');
                  }

                  $('#delete-model-'+this_id).remove();
                  $('select.user_id-'+this_id+' option[value='+select_option_value+']').attr('selected', 'selected');
                  $('#div-delete').append('<div class="modal fade" id="delete-model-'+this_id+'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Confirmaração de exclusão</h5><button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body">Tem certeza?</div><div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button><button type="button" class="btn btn-outline-danger delete-reservation" data-dismiss="modal" id="'+this_id+'" value="'+data.id+'">Excluir</button></div></div></div></div>');
                  $('.table').load("<%= request.base_url %>/reservations/new #table");
                  
                },
                type: 'POST'
            });
            event.preventDefault();
        });

        /// UPDATE
        $(document).on('click', '.submit-button-update', function(event) {
          event.preventDefault();

          if (!$(".description-update-"+this.id).val()) {
            $(".span-update-"+this.id).addClass('text-danger');
            return false
          }else{
            $("#update-model-"+this.id).modal('toggle');
            $(".span-update-"+this.id).removeClass('text-danger');
          }

          $.ajax({
              url: $(".form-update-"+this.id).attr("action") + "?&authenticity_token=" + AUTH_TOKEN, 
              data: $(".form-update-"+this.id).serialize(),
              //dataType: "script",
              type: "json",
              error: function(error) {
                console.log(111, error);
              },
              success: function(data) {
                  // console.log(222, data);
                  $(".table").load("<%= request.base_url %>/reservations/new #table");
                   
              },
              type: 'POST'
          });
        });

      // DELETE
      $(document).on('click', '.delete-reservation', function(event) {
        event.preventDefault();
        var this_id = this.id; // ID DO CAMPO, DIV
        $("#delete-model-"+this.id).modal('toggle');
        

        $.ajax({
            url: "/reservations/" + this.value + "?&authenticity_token=" + AUTH_TOKEN, 
            data: $(".form-delete-"+this.id).serialize(),
            //dataType: "script",
            type: "json",
            error: function(error) {
              console.log(error);
            },
            success: function(data) {
             $('#update-model-'+this_id).remove();
              // $('#delete-model-'+this_id).html("");
              $(".table").load("<%= request.base_url %>/reservations/new #table");
            },
            type: 'DELETE'
        });
      });

    });
</script>